rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return request.resource.data.keys().hasAll(required) &&
        request.resource.data.keys().hasOnly(allAllowedFields);
    }
    match /CatalogQueue/{donation_id} {
      allow create: if
        verifyFields(
          ['volunteerUid', 'isbns', 'wasOffline', 'editDonorIntent', 'timestamp'],
          ['donorId', 'donorDetails']
        ) &&
        request.resource.data.volunteerUid == request.auth.uid &&
        exists(/databases/$(database)/documents/Volunteers/$(request.auth.uid)) &&
        request.resource.data.volunteerUid is string &&
        request.resource.data.isbns is list &&
        request.resource.data.isbns.size() > 0 &&
        request.resource.data.wasOffline is bool &&
        request.resource.data.editDonorIntent is bool &&
        request.resource.data.timestamp is timestamp &&
        (!('donorId' in request.resource.data) || request.resource.data.donorId is string) &&
        (!('donorDetails' in request.resource.data) ||
          (request.resource.data.donorDetails is map &&
           request.resource.data.donorDetails.keys().hasAll(['name', 'phoneNumber', 'email', 'apartment/company']) &&
           request.resource.data.donorDetails.name is string &&
           request.resource.data.donorDetails.phoneNumber is string &&
           request.resource.data.donorDetails.email is string &&
           request.resource.data.donorDetails['apartment/company'] is string
          )
        ) &&
        (!('donorId' in request.resource.data) || !('donorDetails' in request.resource.data) || request.resource.data.editDonorIntent == true) &&
        (request.resource.data.editDonorIntent == true || !('donorDetails' in request.resource.data) || request.resource.data.wasOffline == true);
    }

    match /TestCollection/{doc_id} {
      allow write: if request.resource.data.keys().hasOnly(['items']) &&
                     request.resource.data.items is list;
    }
  }
}
