rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return request.resource.data.keys().hasAll(required) &&
        request.resource.data.keys().hasOnly(allAllowedFields);
    }
    match /CatalogQueue/{donation_id} {
      allow create: if 
      - verifyFields(
        ['volunteerUid', 'isbns', 'wasOffline', 'editDonorIntent', 'timestamp'],
        ['donorId', 'donorDetails']
      )
      - volunteerUid == request.auth.uid;
      - if donorDetails: hasAll(['name', 'phoneNumber', 'email', 'apartment/company']);
      - data types
      - cloud functions check for isbns list each element type
      - volunteer privilege check
      - if donorId: then donorDetails only if editDonorIntent
      - if editDonorIntent is false: then donorDetails only if wasOffline
    }

    match /TestCollection/{doc_id} {
      allow write: if request.resource.data['items'].all(item => item is int);
    }
  }
}